{% extends "base.html" %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/project_list.css' %}">
{% endblock %}

{% block content %}

<h1>{{ project.name }}</h1>

<ul>
  <li><strong>URL:</strong> <a href="{{ project.url }}">{{ project.url }}</a></li>
  <li><strong>Platform:</strong> <a href="{{ project.platform.url }}">{{ project.platform.name }}</a></li>
  <li><strong>Owner:</strong> <a href="{{ project.author.get_absolute_url }}">{{ project.author.name }}</a></li>
</ul>

{% if project.publications.all %}
<h2>Associated publications</h2>
<ul>
  {% for publication in project.publications.all %}
  <li><a href="https://doi.org/{{ publication.doi }}">{{ publication.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
