{% extends "base.html" %}
{% load static %}

{% block title%}Projects{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/project_list.css' %}">
{% endblock %}

{% block content %}

<h1>Projects</h1>
{% if project_list %}
    {% for project in project_list %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-6">
                <h4><a href="{% url 'projects:project_detail' project.platform.name project.author.name project.name %}">{{ project.name }}</a></h4>
              </div>
              <div class="col-sm-6">
                <h4 class="text-right" style="block:inline;"><a href="{{ project.url }}">
                <i class="fab fa-github"></i></a></h4>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <p>
              <strong>Owner:</strong>
              <a href="{{ project.author.get_absolute_url }}">{{ project.author.name }}</a>
            </p>
            {% if project.publications.all %}
              {% for publication in project.publications.all %}
                <p>
                  <strong>Publication:</strong>
                   <a href="https://doi.org/{{ publication.doi }}">{{ publication.title }}</a>
                </p>
              {% endfor %}
            {% endif %}
            {% if project.tags.all %}
              {% for tag in project.tags.all %}
                <a href="{{ tag.get_absolute_url }}" class="btn btn-primary" role="button">{{ tag.name }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
    {% endfor %}
{% else %}
    <p>No projects have been defined.</p>
{% endif %}

{% endblock %}
