h1, h2 {
  text-align: center;
}


.panel {
  min-height: 220px;
}


.flower-logo {
  max-height: 250px;
  display: block;
  margin: auto;
}


/* When the screen is small, decrease the size of the logo. */
@media only screen and (max-width: 750px) {
  .flower-logo {
      max-height: 150px;
  }
}


a {
  color: rgb(110, 46, 158);
}


a:hover {
  color: black;
}


.intro {
  font-size: 18px;
  line-height: 1.5em;
}


.intro li {
  margin: 20px auto;
}


.panel-heading {
  text-align: center;
}


/* Navigation bar */
.navbar {
  background-color: rgb(110, 46, 158);
  font-size: 14px;
}


/* Overriding bootstrap defaults */
.navbar-default .navbar-nav > li > a {
  color: white;
}


.navbar-default .navbar-nav > li > a:hover {
  color: rgb(110, 46, 158);
  background-color: white;
}


/*
Using the same selector as the Bootstrap CSS. Just targeting .navbar-brand was
getting overriden.
*/
.navbar > .container-fluid .navbar-brand {
  margin: 1px 1px 1px 1px;
  padding: 5px 5px 5px 5px;
  height: 40px;
}


.navbar-brand > img {
  max-height: 35px;
}


/* Footer */
footer img {
  max-height: 200px;
  display: block;
  margin: 25px auto;
}


/* https://github.com/twbs/bootstrap/blob/v3.3.7/docs/examples/sticky-footer-navbar/sticky-footer-navbar.css */
html {
  position: relative;
  min-height: 100%;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 325px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-top: 25px solid rgb(110, 46, 158);
}

/*
When the screen is small, the footer covers content. The standard solution is to
set a fixed height for the footer. This doesn't work since I have columns in the
footer which expand the height at smaller screen widths.
*/
@media only screen and (max-width: 750px) {
  body {
      margin-bottom: 600px;
  }
}

.footer a {
  color: white;
}


.footer a:hover {
  color: rgb(110, 46, 158);
}
