h1 {
  font-size: 32px;
  margin: 10px 0;
}


.profile > img {
  width: 150px;
  display: block;
  padding-bottom: 10px;
}


.profile p {
  font-size: 14px;
  text-align: left;
  line-height: 1em;
}


p .btn {
  font-size: 14px;
}


/* Override the panel settings in index.css */
.panel-heading {
  text-align: left;
  padding: 5px 15px 5px 15px;
}


.panel {
  min-height: 20px;
}


.panel-body {
  padding: 5px 15px 5px 15px;
}