.profile > img {
  width: 230px;
  display: block;
  margin: auto;
}


.profile p {
  font-size: 32px;
  text-align: center;
}


p .btn {
  font-size: 14px;
}


/* Override the panel settings in index.css */
.panel-heading {
  text-align: left;
  padding: 5px 15px 5px 15px;
}


.panel {
  min-height: 20px;
}


.panel-body {
  padding: 5px 15px 5px 15px;
}