.profile-small {
  width: 150px;
  display: inline-block;
  height: 150px;
  vertical-align: middle;
}


.profile-small img {
  width: 100px;
  display: block;
  margin: auto;
}


.profile-small p {
  text-align: center;
  font-size: 14px;
}


h1 {
  font-size: 32px;
  margin: 10px 0;
}