{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="https://github.com/workflowr/workflowr-assets/raw/master/img/reproducible.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  {% block style %}{% endblock %}
</head>

<body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://jdblischak.github.io/workflowr/">
            <img alt="workflowr logo" src="https://github.com/workflowr/workflowr-assets/raw/master/img/logo-workflowr-inverse.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'projects:index' %}">Home</a></li>
            <li><a href="{% url 'projects:project_list' %}">Projects</a></li>
            <li><a href="{% url 'projects:publication_list' %}">Publications</a></li>
            <li><a href="{% url 'projects:author_list' %}">Community</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Add your project</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <img src="https://github.com/workflowr/workflowr-assets/raw/master/img/hex-workflowr.png"
               alt="workflowr hex sticker">
        </div>
        <div class="col-sm-4">
          <h3>About workflowr</h3>
          <ul>
            <li><a href="">Team</a></li>
            <li><a href="">Funding</a></li>
            <li><a href="">Code of conduct</a></li>
            <li><a href="https://github.com/jdblischak/workflowr">GitHub</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3>Learn more</h3>
          <ul>
            <li><a href="https://jdblischak.github.io/workflowr/articles/">Tutorials</a></li>
            <li><a href="">How to guides</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>
      </div>
      <p style="text-align: center; margin-top: 2rem;">&#169; 2020 John Blischak, Peter
        Carbonetto, Matthew Stephens</p>
    </div>
  </footer>

</body>

</html>
