{% extends "base.html" %}
{% load static %}

{% block title %}workflowr.io{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}

<div class="jumbotron">
  <img alt="workflowr" src="https://github.com/workflowr/workflowr-assets/raw/master/img/hex-workflowr.png">
</div>

<br>

<!-- Actions -->
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Discover</h3>
      </div>
      <div class="panel-body">
        Search the catalog of workflowr projects to find open,
        reproducible science in your field.
        <ul>
          <li><a href="">Search all projects</a></li>
          <li><a href="">Search by tags</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Create</h3>
      </div>
      <div class="panel-body">
        Use workflowr to manage and share your data analysis projects.
        <ul>
          <li><a href="">Start a new project</a></li>
          <li><a href="">Register an existing project</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Contribute</h3>
      </div>
      <div class="panel-body">
        Contribute to open science by supporting the workflowr
        community.
        <ul>
          <li><a href="">Write a How-to guide</a></li>
          <li><a href="">Report or fix software bugs</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
