main {
    min-height: 90vh;
}


/* Navigation bar */

.navbar {
    background-color: rgb(110, 46, 158);
    font-size: 14px;
}


/* Overriding bootstrap defaults */

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(110, 46, 158);
    background-color: white;
}


/*
  Using the same selector as the Bootstrap CSS. Just targeting .navbar-brand
  was getting overriden.
*/

.navbar>.container-fluid .navbar-brand {
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
    height: 40px;
}

.navbar-brand>img {
    max-height: 35px;
}


/* Footer */

footer {
    background-color: black;
    color: white;
    border-top: 25px solid rgb(110, 46, 158);
}

footer img {
    max-height: 100px;
    display: block;
    margin: 25px auto;
}

footer li a {
    color: white;
}

footer li a:hover {
    color: rgb(110, 46, 158);
}